/node_modules
/oh_modules
/local.properties
/.idea
**/build
**/.preview
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
.env
.env.*
!.env.example
backend/.env
backend/.env.*
!backend/.env.example
*.cer
*.p7b
*.p12
*.pfx
*.pem
*.key
*.keystore
*.jks
